<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Visual Builder" lan="Visual Builder" version="1.0.0" date="2019-04-17" compatibility="2.0" installRequired="true" >
	<author name="Jimako" url="https://www.e107.sk" />
	<summary lan="">e107 Visual Builder based on Qoob </summary>
	<description lan="">Qoob Visual Builder for e107</description>
	<keywords>
		<word>generic</word>
		<word>menus</word>
		<word>services</word>
	</keywords>
	<category>content</category>
	<copyright>e107.sk</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/qoob_button.png" iconSmall="images/qoob_logo_admin_bar.png" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="qoob_library"></pref>
		<pref name="qoob_skin"></pref>
		<pref name="qoob_page_templates"></pref>    
	</pluginPrefs>
</e107Plugin>